/*
------Colors used------
tertiary color: #687864
Font color: #31708E
Link color: #5085A5
Button background: #8FC1E3
Background-color:  #fff  changed from #F7F9FB

------Font-Families------
*Headlines and links*
font-family: 'Proza Libre', sans-serif;
***Content***
font-family: 'Roboto Slab', serif;
 */

 $primary-font-color: #424242;
 $secondary-font-color: #000; //#3B945E;//#1f4a31;
 //$tertiary-color: #687864;
 //$accent-color: #5271ff; //#f3d250;
 $accent-color: #708AFF;
 $bg-color-transparent : rgba(0,0,0,0.9);
 $bg-color-transparent-2 : rgba(0,0,0,0.6);
 $accent-color-2: #F4D666;
 // $accent-color-2: #FF6542;
 //$accent-color-3: #9FB77B;
 $btn-bg-color: #424242;
 $btn-txt-color: #ffffff;
 $btn-bg-hover-color: #99ACFF;
 $bg-color: #ffffff;
 $bg-color-2: #ebebeb;
 $bg-color-3: #c2c2c2;
 $primary-font-family: 'Montserrat', sans-serif;
 $secondary-font-family: '', sans-serif;
 $caption-font-size: 12px;


 $background-image: "/img/tree_tops.jpg";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  font-family: $primary-font-family;
  color: $primary-font-color;
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
  color: $secondary-font-color;
  display: block;
}

h1 {
  font-family: $primary-font-family;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

h2 {
  margin-top: 0px;
  font-family: $primary-font-family;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2::first-letter {
  font-family: $primary-font-family;
  font-weight:900;
  font-size: 60px;
  letter-spacing: -0.1em;
  color: $accent-color;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 22px;
  font-weight: 400;

}

h5 {
  font-size: 16px;
  font-weight: 500;

}

/* --------Links------------------------------------------------ */

a {
  color: $accent-color;
  text-decoration: none;
  font-weight: 400;
}

footer a {
  margin: 0 5px;
}

// a:visited,
a:hover,
a:focus,
a:active {
  color: $btn-bg-hover-color;
}

h2 a {
  color: $secondary-font-color;
}

h2 a:hover {
  color: $primary-font-color;
}

/* -----------Buttons---------------------------- */

button,
.button {
  border: none;
  font-family: inherit;
  font-weight: 400;
  opacity: 1;
  // background-color: $btn-bg-color;
  //background-color: $accent-color;
  // background-color: $accent-color;
  background: linear-gradient($btn-bg-hover-color 1%, $accent-color 100%);
  // color: $btn-txt-color);
  color: $secondary-font-color;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;

  /* transition animation */
  // transition: linear-gradient 0.5s ease;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  color: $secondary-font-color;
  // background: $btn-bg-hover-color;
  background: linear-gradient($btn-bg-hover-color 40%, $accent-color 100%);
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  color: $bg-color-transparent-2;
  //background-color:$bg-color-transparent-2;
  z-index: 10;
}
/* ------------Header--------------------------------------- */


.page-header {
  padding: 0 30px;
  position: fixed;
  top: 0px;
  background-color: $bg-color-3;
  display: flex;
  width: 100%;
  z-index: 10;

  .page-header__item {
    flex: 0 1 50px;
  }
  
  .site-logo {
    font-size: 35px;
    font-weight: 800;
    font-family: $primary-font-family;
    color: $secondary-font-color;
    line-height: 1.6;
    margin: 0;
    letter-spacing: 0.08em;
    // background-color: $btn-bg-color;
  }
  .site-logo:hover {
    color: $primary-font-color;
  }
  
  img.page-header__item {
    width: 50%;
  }
  
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
}


/* ----------------Navigation----------------------------- */
.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: inline-block;
}

a.nav-list__item {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 00.05em;
  padding: 0 15px;
  color: $secondary-font-color;
}

a.nav-list__item:hover {
  color: $primary-font-color;
}

.dropdown-menu__icon {
  position: relative;
  display: none;
}

/* Navigation animation */

/* Brackets go out */

/* Modified from https://codepen.io/EvyatarDa/pen/waKXMd */
li a::before,
li a::after {
  position: absolute;
  opacity: 0;
  color: $accent-color;
  font-size: 30px;
  font-weight: 600;
  top: -15px;
  transition: all 0.3s;
}

li a::before {
  content: '{';
  left: -3px;
  transform: translateX(10px);
}

li a::after {
  content: '}';
  right: -3px;
  transform: translateX(-10px);
}

@media (hover: hover) {

  li a:hover::before,
  li a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-list__item--active::before,
.nav-list__item--active::after {
  opacity: 1;
  transform: translateX(0);
}

/* ----------------Footer------------------------------- */
.page-footer {
  padding: 70px 0 110px 0;
  background-color: $bg-color-2;
  display: flex;
  justify-content: space-evenly;
  
  .contact-section__info {
    width: fit-content;
  }
  
  .footer-item {
    width: 320px;
  }
  
  .social-media {
    padding-top: 30px;
  }
  
  .social-icons {
    font-size: 50px;
    color: $primary-font-color;
    // width: 30px; // rough size if .SVG instead of FontAwesome
    // height: 30px;
  }
}



/* --------------General page layout------------------------ */

section {
  padding: 80px 0;
}

.section-content {
  max-width: 80%;
  margin: 0 auto;
}

/* -------------Intro section--------------------------- */

.profile .section-content{
  display: flex;
  flex-flow: row wrap;
  gap: 0 40px;
  min-height: 325px;
  padding: 50px 10px 0 10px;;
  justify-content: space-evenly;

  .social-icons {
    font-size: 40px;
    color: $primary-font-color;
    margin: 30px 5px;
  }
}

.accent-box{
  width: 450px;
  height: 150px;
  background-color: $accent-color-2;
  margin: -130px 0 0 0;
  max-width: 100%;
  //position: relative;
  //z-index: -1;
  //position: absolute;
  // left: 15%;
  // top: 350px;
}

.profile__portrait {
  max-width: 300px;
  border-radius: 50%;
  background-color: $bg-color;
  // border: 8px solid $bg-color;
  margin: 0 auto;
  display: block;
}

.profile__item {
  width: 450px;
  max-width: 100%;
}

.profile-portrait__container {
 padding-top: 35px;
}

.resume-download {
  max-width: 100%;
  margin: 0 auto;
  a {
    display: inline-block;
  }
}
/* --------------About me section--------------------- */
.about-section {
  padding: 65px 0 0 0;

  .about-me__background {
    background-image: url("/img/tree_tops.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-me__content {
    // background-color: $secondary-font-color;
    // opacity: 0.92;
    background-color: $bg-color-transparent;
    color: $bg-color;
    padding: 50px;
    max-width: 60%;
    margin-left: auto;
  
    h2 {
      margin: 0px;
      color: $bg-color;
    }
    
    p {
      // text-align: justify;
      line-height: 1.7;
    }
  }
  
}

/*---------------Skills section------------------------*/
.skills-section {
  padding-bottom: 0;
  
  .section-content {
    padding-top: 0;
  }

  .tech-list  {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    
    li {
      margin: 5px 10px;
      display: flex;
      flex-flow: column;
      align-items: center;

      .tech-list__icon {
        font-size: 50px;
        color: $primary-font-color
      }

      img {
        width: 45px;
        margin: 3px 0;
      }
    }
  }
}

/* --------------Projects section--------------------- */

.projects-section {
  padding: 65px 0;

  .projects-section__background {
    background: linear-gradient($bg-color-2 10%, $bg-color 100%);
  }
  
  .section-content {
    padding: 50px 0;
  }

  h2 {
    margin-bottom:0px;
  }

  h3, h4, h5 {
    margin: 0;
  }

  h4 {
    margin-right: 30px;
  }

  .project-card {
    display: flex;
    flex-flow: row wrap; 
    gap: 30px;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 3px solid $bg-color-2;
  }

  .project-card__list :last-child {
    border-bottom: none;
  }

  .project-card__half {
    max-width: 48%;
  }
  
  .project-card__screenshot{
    // border: 1px solid $primary-font-color;
    border-radius: 5px;
    max-width: 100%;
    max-height: 300px;
    margin: 0;
    padding: 0;
  }
  
  // .project-screenshot {
  //   display: block;
  //   max-width: 100%;
  //   max-height: 500px;
  //   margin: 10px auto 0 auto;
  // }
  .project-card__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      margin: 10px 5px;
      padding: 10px 15px;
    }
  }

  .project-card__subhead {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .tech-tags {
    padding: 0;

    li {
      display: inline-block;
      font-family: 'Courier New', Courier, monospace;
      font-size: .75rem;
      margin: 2px 2px;
      padding: 4px 10px 3px 10px;
      border-radius: 5px;
      //line-height: 1;
      //border: 1px solid white;
      color: $secondary-font-color;
      background-color: $accent-color-2;
    }
  }
}










/*-----------Case Study Page-------------*/

figure {
  max-width: 75%;
  margin: 0 auto;
  img {
    width: 100%;
    // max-width: 600px;
    // max-height: 400px;
  }
  figcaption {
    font-size: $caption-font-size;
  }
}

.case-study {
  section {
    padding: 40px 0;
  }
}




/* ------------Media queries---------------------- */
@media all and (max-width: 1024px) {
  // h1 {
  //   font-size: 50px;
  // }

  // .page-header {
  //   height: 50px;
  // }
  /* ----------dropdown menu---------- */
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 18px;
  }

  .dropdown-menu__icon {
    display: block;
    margin: 5px 0px;
    position: absolute;
    right: 0;
    top: -10px;
  }

  .dropdown-menu__icon:hover {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    right: 10px;
    top: 30px;
    z-index: 1;
    min-width: 300px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: $bg-color;
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content li {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid $btn-bg-color;

  }

  .dropdown-content li:last-child {
    border-bottom: none;
  }
  
  .about-section {
    .about-me__content {
      margin-left: auto;
      max-width: 80%;
    }
  }

  .projects-section {
    .project-card {
      flex-direction: column;
      align-items: center;
      
      .project-card__half {
        max-width: 100%;
      }
    }
    .project-card__img-first{
      flex-direction: column-reverse;
    }
  }
}
  
@media all and (max-width: 768px) {
  body {
      font-size: 16px;
  }

  .site-logo {
    font-size: 30px;
  }
  
  h2 {
    font-size: 30px;
  }

  h2::first-letter {
    font-size: 55px;
  }
  
  .page-footer {
    flex-direction: column;
    align-items: center;

    .footer-item {
      width: fit-content
    }
  }

  .profile .section-content {
    flex-flow: column wrap;
    align-items: space-around;

    .profile__item {
      margin: 0 auto;
    }
  }

  .about-section {
    .about-me__content {
      max-width: 100%;
    }
  }
  .profile__portrait {
    max-width: 90%;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .page-header {
    padding: 2px 15px;
    
    .site-logo {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 25px;
  }

  h2::first-letter {
    font-size: 45px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  section {
    padding: 65px 0;
  }

  .profile__portrait {
    max-width: 95%;
  }

  .about-section {
    .section-content {
      max-width: 100%;
    }

    .about-me__content {
      padding: 40px;
      max-width: 100%;
    }
  }
  figure {
    max-width: 90%;
  }
}

@media all and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  main {
    margin-top: 30px;
  }

  section {
    padding: 40px 0;
  }

  .page-header {    
    .dropdown-menu__icon {
      top:-14px;
    }

    .site-logo {
      font-size: 25px;
      line-height: 1;
      max-width: 250px;
    }
  }

  h1 {
    font-size: 25px;
    margin: 10px 0 0 0;
  }

  h2 {
    font-size: 20px;
  }

  h2::first-letter {
    font-size: 45px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 20px;
  }

  .section-content {
    max-width: 92%;
  }

  .about-me__content {
    padding: 25px;
    max-width: 100%;
  }

  figure {
    max-width: 90%;
  }
}
