/*
------Colors used------
tertiary color: #687864
Font color: #31708E
Link color: #5085A5
Button background: #8FC1E3
Background-color: #F7F9FB


------Font-Familys------
*Headlines and links*
font-family: 'Proza Libre', sans-serif;
***Content***
font-family: 'Roboto Slab', serif;

 */

 :root {
   --primary-color: #31708E;
   --seconary-color: #5085A5;
   --tertiary-color: #687864;
   --btn-bg-color: #8FC1E3;
   --btn-txt-color: #fff;
   --bg-color: #F7F9FB;
   --primary-font-family: 'Roboto Slab', serif;
   --secondary-font-family: 'Proza Libre', sans-serif;
 }


* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font-family);
  display: block;
}
main {
  max-width: 80%;
  margin:0 auto;
  margin-top: 110px;
}

/* ---Links--- */
a {
  color: var(--seconary-color);
  text-decoration: none;
  font-family: var(--secondary-font-family);
}
a:visited {
  color: var(--seconary-color);
}
a:hover, a:focus {
  color: var(--tertiary-color);
}
a:active {
  color: var(--seconary-color);
}

/* ---Buttons--- */
button, .button {
  border: none;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* transition animation */
  transition: 0.5s opacity;
}
button:hover, button:focus, .button:hover, .button:focus{
  cursor: pointer;
  opacity: 0.8;
  color: var(--btn-txt-color);
}

/* ---------Header-------- */
header {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--seconary-color);
  position: fixed;
  top: 0;
  overflow: hidden;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  /* flex-direction: row;
  justify-content: space-between; */
}
.page-header__item {
  flex: 0 1 200px;
}
img.page-header__item {
  width: 50%;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* --------Navigation-------- */
.nav-list{
  list-style-type: none;
  padding: 0;
}
.nav-list li {
  display: inline-block;
}
a.nav-list__item {
  position: relative;
  padding: 0 7px;
}

/* Navigation animation */
/* Brackets go out */
/* Modified from https://codepen.io/EvyatarDa/pen/waKXMd*/
li a:before, li a:after
{
  position: absolute;
  opacity: 0;
  font-size: 16px;
  top: -1px;
  transition: all 0.3s;
}
li a:before
{
  content: '{';
  left: 0px;
  transform: translateX(10px);
}
li a:after
{
  content: '}';
  right: 0px;
  transform: translateX(-10px);
}
li a:hover:before, li a:hover:after
{
  opacity: 1;
  transform: translateX(0px);
}
.nav-list__item--active:before, .nav-list__item--active:after {
  opacity: 1;
  transform: translateX(0px);
}


/* ---Footer--- */
.page-footer {
  margin: 40px 0;
  padding: 30px 0;
  border-top:  1px solid var(--seconary-color);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer a {
  margin: 0 5px
}
.social-icons {
  width: 30px;
  height: 30px;
}


/* --------------Home page--------------------- */

/* ---Main section--- */
.profile__portrait {
  width: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}
.profile {
  max-width: 700px;
  min-height: 250px;
  margin: 100px auto;
}


/* --------------About me page--------------------- */
p.about-me-content {
  text-align: justify;
}
.skills-table {
  margin: auto;
}
th, td{
  padding: 0 8px;
  text-align: center;
}
.resume-download {
  max-width: 190px;
  margin: 0 auto;
}
.berlin-illustration-container {
  width: 700px;
  margin: 0 auto;
}

/* Animation */
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
@keyframes cloud-front-move {
  from {
    transform: translate(-170px, 50px);
  }
  to {
    transform: translate(810px, 50px);
  }
}
@keyframes cloud-back-move {
  from {
    transform: translate(-260px, 48px);
  }
  to {
    transform: translate(700px, 48px);
  }
}
@keyframes sun-pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(90deg)
  }
  50% {
    transform: scale(1) rotate(180eg);
  }
  75%{
    transform: scale(1.2) rotate(270deg)
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  animation: 30s cloud-front-move infinite normal linear;
}
.cloud-back {
  animation: 30s cloud-back-move infinite normal linear;
}
.sun-rays {
  transform-origin: 402.9px 43.2px;
  animation: 10s sun-pulse infinite normal linear;
}


/* --------------My Projects page--------------------- */

/* Start gridd fallback */
.grid__item {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin: 5px;
/* end grid fallback */

  background-color: rgb(143, 193, 227, 0.15); /* var(--secondary-txt-color) */
  line-height: 1.25;
  font-variant: normal;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.grid__item p {
    text-align: justify;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid__item {
    margin: 0;
    width: auto;
  }
  .grid__item:first-child {
    grid-column: 1/1;
    grid-row: 1/3;
  }
}




/* ----------Media queries---------- */

@media all and (max-width: 500px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .page-header {
    padding: 5px 15px;
  }
  img.page-header__item {
    width: 60%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 768px){
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .page-header {
    padding: 10px 20px;
  }
  img.page-header__item {
    width: 75%;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
  .page-header {
    padding: 0 20px;
  }
  .nav-list {
    padding-left: 0;
    margin: 0;
  }
  .nav-list li {
    display: block;
  }
  .grid {
    grid-gap: 10px;
  }
  .grid__item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .grid__item {
    font-size: 14px;
  }

}
@media all and (max-width: 1024px) {
  body {
    margin: 0;
  }
  main {
    padding: 0 20px;
    max-width: 100%;
  }
}
