/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
------Colors used------
tertiary color: #687864
Font color: #31708E
Link color: #5085A5
Button background: #8FC1E3
Background-color: #F7F9FB

------Font-Familys------
*Headlines and links*
font-family: 'Proza Libre', sans-serif;
***Content***
font-family: 'Roboto Slab', serif;
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f7f9fb;
  font-family: 'Roboto Slab', serif;
  color: #31708e;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

h2 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

h3 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

h4 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

h5 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

h6 {
  font-family: 'Proza Libre', sans-serif;
  display: block;
}

main {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 110px;
}

/* ---Links--- */
a {
  color: #5085a5;
  text-decoration: none;
  font-family: 'Proza Libre', sans-serif;
}

footer a {
  margin: 0 5px;
  color: #000;
}

a:visited {
  color: #5085a5;
}

a:hover {
  color: #687864;
}

a:focus {
  color: #687864;
}

a:active {
  color: #5085a5;
}

/* ---Buttons--- */
button {
  border: none;
  font-family: inherit;
  background-color: #8fc1e3;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* transition animation */
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #8fc1e3;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* transition animation */
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

/* ---------Header-------- */
header {
  padding-bottom: 10px;
  border-bottom: 1px solid #5085a5;
  position: fixed;
  top: 0;
  background-color: #f7f9fb;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 98px;
  padding: 20px;

  /* flex-direction: row;
  justify-content: space-between; */
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

img.page-header__item {
  width: 50%;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

/* --------Navigation-------- */
.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: inline-block;
}

a.nav-list__item {
  position: relative;
  padding: 0 7px;
}

.dropdown-menu__icon {
  position: relative;
  display: none;
}

/* Navigation animation */

/* Brackets go out */

/* Modified from https://codepen.io/EvyatarDa/pen/waKXMd */
li a::before,
li a::after {
  position: absolute;
  opacity: 0;
  font-size: 16px;
  top: -1px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

li a::before {
  content: '{';
  left: 0px;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

li a::after {
  content: '}';
  right: 0px;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

li a:hover::before,
li a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-list__item--active::before,
.nav-list__item--active::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* ---Footer--- */
.page-footer {
  margin: 40px 0;
  padding: 30px 0;
  border-top: 1px solid #5085a5;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-icons {
  width: 30px;
  height: 30px;
}

/* --------------Home page--------------------- */

/* ---Main section--- */
.profile__portrait {
  width: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  min-height: 325px;
  padding: 35px 10px;
  margin: 0 auto;
}

/* --------------About me page--------------------- */
p.about-me-content {
  text-align: justify;
}

.skills-table {
  margin: auto;
}

th,
td {
  padding: 0 8px;
  text-align: center;
}

.resume-download {
  max-width: 190px;
  margin: 0 auto;
}

.berlin-illustration-container {
  width: 700px;
  margin: 0 auto;
}

/* Animation */
@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-front-move {
  from {
    -webkit-transform: translate(-170px, 50px);
    transform: translate(-170px, 50px);
  }

  to {
    -webkit-transform: translate(810px, 50px);
    transform: translate(810px, 50px);
  }
}

@keyframes cloud-front-move {
  from {
    -webkit-transform: translate(-170px, 50px);
    transform: translate(-170px, 50px);
  }

  to {
    -webkit-transform: translate(810px, 50px);
    transform: translate(810px, 50px);
  }
}

@-webkit-keyframes cloud-back-move {
  from {
    -webkit-transform: translate(-260px, 48px);
    transform: translate(-260px, 48px);
  }

  to {
    -webkit-transform: translate(700px, 48px);
    transform: translate(700px, 48px);
  }
}

@keyframes cloud-back-move {
  from {
    -webkit-transform: translate(-260px, 48px);
    transform: translate(-260px, 48px);
  }

  to {
    -webkit-transform: translate(700px, 48px);
    transform: translate(700px, 48px);
  }
}

@-webkit-keyframes sun-pulse {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  25% {
    -webkit-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
  }

  50% {
    -webkit-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
  }

  75% {
    -webkit-transform: scale(1.2) rotate(270deg);
    transform: scale(1.2) rotate(270deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

@keyframes sun-pulse {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  25% {
    -webkit-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
  }

  50% {
    -webkit-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
  }

  75% {
    -webkit-transform: scale(1.2) rotate(270deg);
    transform: scale(1.2) rotate(270deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-front-move infinite normal linear;
  animation: 30s cloud-front-move infinite normal linear;
}

.cloud-back {
  -webkit-animation: 30s cloud-back-move infinite normal linear;
  animation: 30s cloud-back-move infinite normal linear;
}

.sun-rays {
  -webkit-transform-origin: 402.9px 43.2px;
  -ms-transform-origin: 402.9px 43.2px;
  transform-origin: 402.9px 43.2px;
  -webkit-animation: 10s sun-pulse infinite normal linear;
  animation: 10s sun-pulse infinite normal linear;
}

/* --------------My Projects page--------------------- */

/* Start gridd fallback */
.grid__item {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin: 5px;

  /* end grid fallback */

  background-color: rgb(143, 193, 227, 0.15); /* var(--secondary-txt-color) */
  line-height: 1.25;
  font-variant: normal;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.grid__item p {
  text-align: justify;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid__item {
    margin: 0;
    width: auto;
  }

  .grid__item:first-child {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

/* ----------Contact page----------- */
.contact {
  margin: 0 auto;
  max-width: 240px;
}

/* ----------Media queries---------- */

@media all and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .page-header {
    padding: 5px 15px;
  }

  img.page-header__item {
    width: 60%;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .page-header {
    padding: 10px 20px;
  }

  img.page-header__item {
    width: 75%;
  }

  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
  /* dropdown menu  */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu__icon {
    display: block;
    margin: 5px 15px;
    position: absolute;
    right: 0;
  }

  .dropdown-menu__icon:hover {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    right: 10px;
    top: 35px;
    z-index: 1;
    min-width: 120px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: white; /* var(--secondary-txt-color); /* rgb(143, 193, 227, 0.30); */
  }

  .dropdown:hover .dropdown-content,
  .dropdown-content li {
    display: block;
  }

  /* Main content grid */
  .grid {
    grid-gap: 10px;
  }

  .grid__item {
    font-size: 14px;
  }

  .grid__item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@media all and (max-width: 1024px) {
  body {
    margin: 0;
  }

  main {
    padding: 0 20px;
    max-width: 100%;
  }
}
